<header class="header">
    <div class="upper">
        <a href="#">Pricing</a>
        <a href="#">Sign In</a>
        <span>or</span>
        <a href="#" class="btn">Join Now</a>
    </div>
    <div class="lower">
        <div class="search-bar">
            <span class="filter-select">
                All
                <span class="chevron">&#x2304;</span>
            </span>
            <input type="text" name="searchbar" id="searchbar">
        </div>
        <nav>
            <ul>
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Fonts</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Add-Ons</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Themes</a></li>
            </ul>
        </nav>
    </div>
</header>