<header class="header">
    <div class="header-content">
        <div class="upper">
            <a href="#">Pricing</a>
            <a href="#">Sign In</a>
            <span>or</span>
            <a href="#" class="btn">Join Now</a>
        </div>
        <div class="lower">
            <div class="search-bar input-group">
                <div class="search-filter input-group-prepend">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <i class="fas fa-chevron-down"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Graphics</a>
                        <a class="dropdown-item" href="#">Templates</a>
                        <a class="dropdown-item" href="#">Fonts</a>
                        <a class="dropdown-item" href="#">Add-Ons</a>
                        <a class="dropdown-item" href="#">Themes</a>
                    </div>
                </div>
                <div class="search-icon input-group-prepend">
                    <i class="input-group-text fas fa-search"></i>
                </div>
                <input type="text" class="form-control" name="searchbar" id="searchbar" placeholder="Search Creative Market Pro">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Graphics</a>
                    </li>
                    <li>
                        <a href="#">Fonts</a>
                    </li>
                    <li>
                        <a href="#">Templates</a>
                    </li>
                    <li>
                        <a href="#">Add&#x2011;Ons</a>
                    </li>
                    <li>
                        <a href="#">Photos</a>
                    </li>
                    <li>
                        <a href="#">Themes</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>