.free-trial {
    text-align: center;

    h1 {
        font-family: $font-family-serif;
        font-weight: bold;
        color: $dark-purple;
        font-size: 3rem;
    }

    p {
        color: $light-gray;
        font-size: 1.25rem;
    }
}