.free-trial {
    text-align: center;
    max-width: 768px;
    margin: auto;
    position: relative;
    margin-bottom: 3rem;

    h1 {
        font-family: $font-family-serif;
        font-weight: bold;
        color: $dark-purple;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    p {
        color: $light-gray;
        font-size: 1.25rem;
        margin: 2rem 0;
    }

    .display-image {
        position: absolute;
        z-index: -1;
        
        &.blob {
            top: 62%;
            left: -10%;
        }

        &.circle {
            top: 42%;
            left: 70%;
        }
    }
}