.free-trial {
    text-align: center;

    h1 {
        font-family: "Times New Roman", serif;
        font-weight: bold;
        color: hsl(270, 100%, 16.5%);
        font-size: 3rem;
    }

    p {
        color: hsl(221.3, 6.6%, 47.8%);
        font-size: 1.25rem;
    }
}