// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Times New Roman', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$lighter-gray: hsl(0, 0%, 79.6%);
$light-gray: hsl(218.8, 6.9%, 48.4%);
$purple: hsl(257.5, 50.6%, 49.2%);
$dark-purple: hsl(270, 100%, 16.5%);
$pink: hsl(353.1, 87%, 66.9%);
$dark-pink: hsl(353.1, 67%, 60.9%);
$white: hsl(0, 0%, 100%);