header.header {
    border-top: 10px solid purple;
    a {
        color: $light-gray;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 0 3rem;
    }

    .upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        > * {
            margin: 0 1rem;
        }
        .btn {
            background-color: pink;
            color: white;
        }
    }

    .lower, nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .btn {
            background-color: hsl(0, 0%, 100%);
        }
    }

    .lower {
        .dropdown-toggle::after {
            display: none;
        }
    }

    nav > ul {
        list-style: none;
        > li {
            margin: 0 1rem;
        }
    }
}