header.header {
    border-top: 10px solid hsl(257.5, 50.6%, 49.2%);
    a {
        color: $light-gray;
        &:not(.btn):hover {
            text-decoration: underline;
        }
    }
    .btn {
        color: hsl(0, 0%, 100%);
    }
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 0 3rem;
    }

    .upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        > * {
            margin: 0 1rem;
        }
    }

    .lower, nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .btn {
            background-color: hsl(0, 0%, 100%);
        }
    }

    .lower {
        .dropdown-toggle::after {
            display: none;
        }
    }

    nav > ul {
        list-style: none;
        > li {
            margin: 0 1rem;
        }
    }
}