{% extends 'layouts/base.twig' %}

{% block content %}
<div class="free-trial">
    <h1>Get 3 free downloads!</h1>
    <p>Start your <strong>7-day trial</strong> to access thousands of curated photos, fonts, graphics and more to deliver quality designs faster.</p>
    <free-trial-app></free-trial-app>
    <img class="display-image blob" src="/img/free-trial-blob1.svg" alt="">
    <img class="display-image circle" src="/img/free-trial-halftone-circle.svg" alt="">
</div>
{% endblock %}